body {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2c3338;
  color: #606468;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}

.input_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.url_input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.url {
  color: #eee;
}

.url label,
.url input[type="text"],
.url input[type="submit"] {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}

.url label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.url input[type="text"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.url input[type="text"]:focus,
.url input[type="text"]:hover {
  background-color: #434a52;
}

.url input[type="submit"] {
  background-color: #5663e9;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.url input[type="submit"]:focus,
.url input[type="submit"]:hover {
  background-color: #7a5eff;
}

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}
